body {
    margin: 0;
    padding: 0;
    /* background-color: blue; */
}
header{
    width: 100%;
    height: 20rem;
    background-image: url("https://wallpapermemory.com/uploads/756/true-detective-background-full-hd-1920x1080-256136.jpg");
    background-repeat: no-repeat;
    
}
.container {
  display: flex;
  flex-flow: row wrap;
  background-color: rgb(224, 152, 152);
  justify-content: space-around;
  /* align-items: flex-end; */
}
.div-card {
  height: 16rem;
  width: 25rem;
  background-color: aqua;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  margin-top: 15px;
  position: relative;
  /* display: relative; */
  /* transition: all ease-in 1s */
}
.divNum {
    align-self: start;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.divName {
    align-self: start;
    margin-left: auto;
    margin-right: auto;
    background-color: aqua;
}
.divSummary {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(123, 255, 0, 0.438);
    /* display: none; */
    opacity: 0;
    transition: all ease-in 0.5s
}
.divSummary p {
    background-color: rgba(255, 0, 0, 0.603);
    margin-bottom: auto;
    text-align: center;
    /* transition: all ease 0.5 */
}
 /* p:hover {
    display: ;
} */

.div-card:hover .divSummary {
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(123, 255, 0, 0.438);
    background-color: aqua;    
    opacity: 1;
    /* transition: none ease-in 1s */
} 

.divScore {
    position: absolute;
    /* left: 0; */
    left: 2px;
    top: 0;
    background-color: aqua;
    /* width: 2rem;
    height: 1rem  ; */
}
.icon {
    /* position: absolute; */
    /* left: 0; */
    /* top: 0;
    right: 2px; */
    /* background-color: rgb(250, 250, 250); */
    color: red;
    font-size: 2rem;
    /* width: 2rem;
    height: 1rem  ; */
}
.a {
        position: absolute;
    /* left: 0; */
    top: 0;
    right: 2px;
    /* background-color: rgb(250, 250, 250); */
    /* color: red;
    font-size: 2rem; */
    transition: all ease-out 0.5s;
}
.icon:hover {
    /* font-size: 3rem; */
    background-color: black;
    color: rgb(255, 0, 0);
    transition: all ease-out 0.5s;
}